@charset "UTF-8";
	/* -----------공용 css------------ */
	body {
		margin: 0px;
	}
	.flex-container {
    	display: flex;  /* 컨테이너들 수직정렬 */
    	justify-content: center;
    }
    .flex-container.p{
		padding: 50px;
		margin-top: 100px;
	}
	.flex-container.p h2 {
		text-align: center;
      	margin-bottom: 50px;
      	color: #1a1a1a;
       	font-size: 24px;
       	font-weight: 300;
	}
	div {
		 /* border: 1px solid black; */
	}

	/* -----------공지사항 css------------ */
	.noticeWrite {
		width: 65%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		padding-top: 20px;
		padding-bottom: 20px;

	}
	.noticeWrite td {
		border-bottom: 1px solid #d5d5d5;
		font-weight: normal;
		font-size: 14px;
		padding: 10px;
		text-align: center;
	}
	.noticeLeftBtnbox {
		width: 110px;
		float: left;
		padding-top: 30px;
		padding-right: 1125px;
		margin: 10px 5px 20px 5px;
	}
	.noticeRightBtnbox {
		width:  105px;
		float: right;
		padding-top: 30px;
		padding-right: -370px;
		margin: 10px 5px 20px 10px;
	}
	.noticeSubmit_box {
    	border-radius: 0px;
    	border: 1px solid #d5d5d5;
    	width: 100px;
    	height: 37px;
    	background-color: white;
    	color: black;   
    	padding: 5px;			 
    } 
	/* -----------리뷰문의 css------------ */
	.reviewWrite {
		width: 65%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		padding-top: 20px;
		padding-bottom: 20px;

	}
	.reviewWrite td {
		border-bottom: 1px solid #d5d5d5;
		font-weight: normal;
		font-size: 14px;
		padding: 10px;
	}
	.reviewWrite td input {
		width: 985px;
	}
	.reviewLeftBtnbox {
		width: 110px;
		float: left;
		padding-top: 30px;
		padding-right: 1125px;
		margin: 10px 5px 20px 5px;
	}
	.reviewRightBtnbox {
		width:  105px;
		float: right;
		padding-top: 30px;
		padding-right: -370px;
		margin: 10px 5px 20px 10px;
	}
	.reviewSubmit_box {
    	border-radius: 0px;
    	border: 1px solid #d5d5d5;
    	width: 100px;
    	height: 37px;
    	background-color: white;
    	color: black;   
    	padding: 5px;			 
    } 
    
    
