@charset "UTF-8";
	/* main */
	main[class="box"] {
		margin: 150px 60px 50px 60px;
	}
	h4 {
		text-align: center;
		margin-bottom: 50px;
	}
	table {
	 	border-collapse: collapse;
	 	width: 100%;
	 }
	.table_text_align_center {
		text-align: center;
	 }	
	.content_totalCount_section {
	 	margin-bottom: 20px;
	}
	.subject_table {
		font-size: 14px;
	    width: 100%;
	    line-height: 20px;
	    text-align: center; 	
	 }
	th {
	    border-bottom: 1px solid #e7e7e7;
	    border-top: 1px solid #e7e7e7;
	    background: #F6F6F6;
	    padding: 2px 0;	 
	}
	.subject_table tbody tr {
		height: 150px;
	}
	.subject_table td {
		border-bottom: 1px solid #e7e7e7;
	}
	.td_width_0 {
		width: 0%;
	}
	.td_width_1 {
		width: 5%;
	}	 	 	 
	.td_width_2 {
		width: 10%;
	}	 	 
	.td_width_3 {
		width: 15%;
	}
	.td_width_6 {
		width: 30%;
	}
	input[class="individual_cart_checkbox"] {
		width: 15px;
		height: 15px;
		vertical-align: middle;
	}	
	.thumbnail {
		height: 120px;
		width: auto;
	}
	.quantity_div {
		position: relative;
	    width: 42px;
		height: 25px;
		margin: 5px auto;		
	}
	.quantity_input {
		position: absolute;
		width: 28px;
		height: 25px;
		text-align: center;
		border: 1px solid #c6c6c6;
		border-right: 0px;
		line-height: 19px;
		font-size: 12px;
		left: 0;
	}
	a[class="+-"] {
		font-size: 16px;
	}
	.quantity_modify_btn {
		border: 1px solid #d0d0d0;
		border-radius: 5px;
		height: 25px;
		line-height: 13px;
		text-align: center;
		font-size: 13px;
		width: 38px;
		display: inline-block;
		padding: 4px 5px 2px;
		margin-top: 2px;		
		cursor: pointer;
	}
	.quantity_modify_btn:hover {
		background: #F6F6F6;
	}
	.select_div {
		height: 30px;
	}
	.select {
		width: 100px;
		height: 26px;
		padding: 1px 5px;
		font-size: 13px;
	}
	.table_text_align_center {
		text-align: center;
	}
	.delete_btn {
		border: 1px solid #aaa;
		background-color: white;
		border-radius: 2px;
		width: 80px;
	}
	.delete_btn:hover {
		border: 1px solid #aaa;
		background-color: #F6F6F6;
		cursor: default;
	}
	.deleteAll {
		display: flex;
	}
	.deleteAll_btn {
		border: 1px solid #aaa;
		background-color: white;
		border-radius: 2px;
		width: 150px;
		margin-left: auto;
		margin-bottom: 20px;
	}
	.deleteAll_btn:hover {
		border: 1px solid #aaa;
		background-color: #F6F6F6;
		cursor: default;
	}
	.content_total_section {
		background-color: #F6F6F6;
	}		
	.total_wrap {
		width: 80%;
		margin: auto;
		padding: 10px 0;	
	}
	.total_wrap td {
		width : 50%;
	}
	.finalTotalPrice_span {
		font-size: 17px;
		font-weight: bold;
	}
	.totalPoint_span {
		font-size: 17px;
		font-weight: bold;		
	}
	.boundary_div {
		font-size: 0;
		border: 1px dotted #d1c7c7;
		margin: 5px 0 5px 0;		
	}
	.content_btn_section {
	 	margin-top: 80px;
	 	text-align: center;
	 	line-height: 50px;
	}
	a[class="all"], a[class="select"], a[class="shopping"] {
		border: 1px solid black;
		border-radius: 3px;
		background-color: black;
		color: white;
		font-size: 14px;
		text-align: center;
		padding: 5px 20px;
	}
	a[class="all"]:hover, a[class="select"]:hover, a[class="shopping"]:hover {
		border: 1px solid gray;
		background-color: gray;
		color: white;
		cursor: default;
	} 