@charset "UTF-8";
	/* MAIN */
	/* 회원가입글씨 영역 */
	.title {
		width: 100%;
		max-width: 1680px;
		text-align: center;
		margin : 0 auto;
		margin-top: 10%
	}
	/* 회원가입글씨 */
	h2 {
		color: #1a1a1a;
	    font-size: 24px;
	    font-weight: 300;
	    line-height: 1;
	    display: inline-block;
	}
	/* 메인영역 큰 틀 */
	.join {
		padding: 49px 39px;
		color: #2e2e2e;
	}
	/* 메인영역 가운데정렬 */
	fieldset {
		width: 1000px;
		padding: 0;
		margin: auto;
	}
	p {
		margin-bottom: 10px;
	}
	/* 기본정보 */
	.info {
		float: left;
	}
	/* 추후변경불가 */
	.default {
		float: right;
	}
	table {
		width: 1000px;
		margin-bottom: 30px;
		border: none;
	}
	tr {
		border-top: solid 1px black;
		border-bottom: solid 2px rgb(240,240,240);
	}
	th {
		background-color: rgb(234,234,234);
		padding: 10px;
	}
	/* 중복아이디 존재하지 않는경우 */
	.id_input_re_1{
		color : green;
		display : none;
	}
	/* 중복아이디 존재하는 경우 */
	.id_input_re_2{
		color : red;
		display : none;
	}
	.msg {
		font-size: 12px;
		color: gray;
	}
	input {
		margin: 5px;
		height: 30px;
		border-color: solid 2px rgb(240,240,240);
	}
	/* input size */
	#address1 {
		width: 10%;
	}
	#address2, #address3 {
		width: 40%;
	}
	/* 유효성검사 */
	.Msg {
		font-size: 13px;
		color: red;
	}
	/* 약관동의 */
	.TOS_box {
		border-top: solid 1px black;
	}
	.accordion {
		margin-top: 10px;
	}
	/* 회원가입 버튼 위치조정 */
	.submit {
		width: 100px;
    	margin: auto;
	}
	.submit_btn {
		background-color: black;
	    color: white;
	    border-radius: 2px;
	    width: 100px;
	    height: 40px;     
	}
	.submit_btn:hover {
		background-color: white;
		color: black;
	}