@charset "UTF-8";
/* main */
	div[class="box"] {
		width: 70%;
		margin: 0 auto;
	}
	h4 {
		text-align: center;
		margin-bottom: 50px;
		color: #1a1a1a;
    	font-size: 24px;
    	font-weight: 300;
}
	}
	div[class="title"] {
		padding: 8px;
		font-size: 16px;
		font-weight: bold;
		border-bottom: thin;
		border-bottom-style: solid;
		border-bottom-color: black;
	}
	table {
		width: 100%;
		margin-bottom: 30px;
		border: none;
	}
	th {
		text-align: center;
		width: 10%;
		padding: 10px;
		border-bottom: 1px solid #e7e7e7;
	    border-top: 1px solid #e7e7e7;
	    background: #F6F6F6;
	}
	.td_width_1 {
		width: 5%;
	}	 	 	 
	.td_width_2 {
		width: 5%;
	}	 	 
	.td_width_3 {
		width: 15%;
	}
	td[class="line"] {
    	border-bottom: thin;
    	border-bottom-style: solid;
    	border-bottom-color: #BDBDBD;
	}
	.side {
		text-align: left;
	}
	.thumbnail {
		height: 120px;
		width: auto;
	}
	div[class="order"] {
		margin: 50px 40px;
	}
	.th_title {
		text-align: center;
	}
	.free {
		text-align: center;
		font-weight: bold;
    	border-bottom: thin;
    	border-bottom-style: solid;
    	border-bottom-color: #BDBDBD;
	}